@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(../img/portada.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Orbitron', sans-serif;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.logo{
    width: 130px;
    height: 130px;
}

.name{
    color: #fff;
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 700px;
}

label{
    font-size: 60px;
    color: #fff;
}

input{
    border: 6px solid #fff;
    background-color: transparent;
    height: 80px;
    width: 80%;
    color: #fff;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
}

input[type="submit"]{
    border: 6px solid #fff;
    background-color: transparent;
    height: 60px;
    width: 60%;
    color: #fff;
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    transition: all 0.6s;
}

input[type="submit"]:hover{
    background-color: #fff;
    color: #000000;
}

@media (max-width: 550px){
    header{
        height: 80px;
    }
    
    .logo{
        width: 60px;
        height: 60px;
    }
    
    .name{
        font-size: 20px;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 550px;
    }
    
    label{
        font-size: 40px;
        text-align: center;
    }
    
    input{
        height: 40px;
        font-size: 30px;
    }
    
    input[type="submit"]{
        border: 6px solid #fff;
        background-color: transparent;
        height: 60px;
        width: 60%;
        color: #fff;
        font-size: 40px;
        font-family: 'Orbitron', sans-serif;
        transition: all 0.6s;
    }
    
    input[type="submit"]:hover{
        background-color: #fff;
        color: #000000;
    }
}